body{
   margin: 0px;
   padding: 0px;
   background: rgb(58, 2, 21);
}
.top{
    color: white;
    font-size: 30px;
    margin-top: 15%;
    margin-left: 38%;
}
.card-body{
    box-shadow: 0px 0px 30px 5px  rgb(78, 77, 78);
    background-color:peachpuff;
     width: 420px;
     margin-top: -1%;
     height: auto;
     margin-left: 35%;
     border-radius: 15px;
}
.card-title{
   padding-top: 10px;
   padding-left: 15px;
    font-size: 30px;
}
.card-text{
    padding-left: 15px;
    padding-top: -10px;
    padding-left: 10px;
    font-size: 20px;
}
.btn-primary{
    border: 0px solid;
    border-radius: 5px;
    margin-left: 15px;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 15px;
    background-color: rgb(52, 52, 226);
    color: white;
}